input{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, input[placeholder] {
    text-align: center;
}

button[type=submit] {
    width: 100%;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errorSpan {
    color: red;
}

form {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px 50px 25px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
}

.sideBySide{
	display: inline-block;
	width: 49%;
}

#submitInstant{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#submitMandate{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

