input{
    width: 100%;
    height: 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, input[placeholder], .fieldSelectBox {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid gray;
}

.fieldSelectBox:hover{
    background-color: lightblue;
}

button[type=submit] {
    width: 100%;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    width: 60%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 55px 50px 55px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: left;
    background-color: white;
}

.submit{
    width: 100%;
    color: white;
    font-size: medium;
    font-weight: 700;
    padding: 10px;
    border: none;
    background-color: #673BB7;
}

.submit:hover {
    background-color: darkorange;
  }

.item-title{
    font-size: small;
    font-weight: 645;
    color: gray;
}

.checkbox{
    width: 15px;
    height: 15px
}

.errorSpan {
    color: red;
}

.sideBySide{
	display: inline-block;
	width: 49%;
}

.form-title{
    color: purple;
}

/* .headerBtn{
    background-color: white;
  border: none;
  color: solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 4px ;
  width:90%
} */

#submitInstant{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#submitMandate{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#savedForms{
    border: black;
    text-align: center;
    font-size: medium;
    background-color: lightgrey;
    width: 30%;
}

#savedForms:hover{
    background-color: lightblue;
}

#linkId{
    width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

#warningMsg{
    font-size: small;
    font-weight: bold;
    color: red;
}

#savedFormsHeader{
    font-size: large;
    font-weight: bold;
}